@if (courses$ | async; as courses) {

  @for (item of courses; track item.id) {

     <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>  <li>{{ item.name }}</li>   </mat-card-title>
          <mat-card-subtitle>Software</mat-card-subtitle>
          <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
        <li>{{ item.description }}</li>
      </mat-card-content>
    </mat-card>

  } @empty {
    <li>There are no items.</li>
  }

}





